# Created by .ignore support plugin (hsz.mobi)
### JetBrains template

*.iml
release
build
saltboot.test

## Directory-based project format:
.idea/
.vscode/
.history/

### Go template
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

tlsauth
ca
salt-bootstrap
crt
saltboot/testdata/test_tokens/
